@import "tailwindcss";
@theme {
    --color-primary-950 : var(--color-gray-900);
    --color-primary-900 : #282c34;
    --color-primary-800 : var(--color-gray-700);
    --color-primary-700 : var(--color-slate-700);
    --color-primary-600 : var(--color-gray-500);
    --color-secondary-900 : var(--color-yellow-500);
    --color-secondary-800 : var(--color-yellow-400);
}